@import 'reset';
@import 'normalize';
@import 'helper';
@import 'settings';
@import 'mixins';
@import 'base';

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 100;
}
  .preloader__img {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 50%;
    margin-left: -16px;
  }


.instructions {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  color: #FFF;
  z-index: 50;
  p {
    position: relative;
    z-index: 25;
  }
}

#mount {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}


.map {
  position: fixed;
  top: 0;
  bottom: 0;
  width:100%;

  path {
    fill: red !important;
    fill-opacity: 0 !important;
    stroke-opacity: 0 !important;

    transition: all 150ms ease;

    &:hover {
      fill-opacity: 0.5 !important;
    }
  }
}

.panels {

}
  .panels__container {

  }
  .panels__item {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 300px;
    background: #FFF;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 20px;
    word-wrap: break-word;

    h2 {
      display: block;
      margin-bottom: 20px;
      font-size: 3.6rem;
      font-weight: bold;
    }
    ul li {
      margin-bottom: 10px;
    }
    span {
      margin-right: 5px;
      margin-bottom: 5px;
      display: inline-block;
      &:after {
        content: ',';
      }
    }
    span:last-of-type {
      &:after {
        content: '';
      }
    }
  }
    .panels__object--noc {
      span {
        &:after {
          content: '';
        }
      }
    }
    .panels__property {
      display: inline-block;
      margin-bottom: 5px;
      font-weight: bold;
      .panels__item &:after {
        content: ':';
      }
    }

  .panels__item--active {
    opacity: 1;
    visibility: visible;
  }